<html>
 <head>
   <style>
   body {
     background-color:black;
     overflow:hidden;
   }
   </style>
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Roboto" rel="stylesheet">
  <script type = "text/JavaScript">
     <!--
        function AutoRefresh( t ) {
           setTimeout("location.reload(true);", t);
        }
     //-->
  </script>
</head>

</body>
 </head>
 <body onload = "JavaScript:AutoRefresh(60000);">
   <p style="font-family:Orbitron;font-size:250;color:green;text-align:center;line-height: 480px">[th0temp-act=F.0:--]&deg;</p>
 </body>
</html>
